a {
  text-decoration: none;
}

.main {
  background: rgb(229, 246, 218);
}


/* 商品一覧 */

.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3vh 0;
}

.item-contents>.title {
  font-size: 4vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 25vh;
  height: 25vh;
}

.item-info {
  background-color: rgb(252, 240, 181);
  color: black;
  padding: 0.5vw;
  text-align: center;
}

.item-name {
  font-size: 2.5vh;
  
}

.item-price {
  font-size: 2vh;
  text-align: center;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 4vh;
  width: 4vh;
  margin-right: 1vw;
}


.star-count {
  font-size: 2vh;
  margin-left: 5vh;
}
